# === Python ===
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo
*.pyd
*.log

# === Virtual Environments ===
.venv/
env/
venv/

# === PyCharm IDE ===
.idea/

# === Sphinx (build + autosummary cache) ===
local_docs/build/
local_docs/_autosummary/
local_docs/_modules/
local_docs/_sources/
local_docs/objects.inv

# === GitHub Pages Cleanup ===
docs/*.js
docs/*.html
docs/*.inv
docs/_modules/
docs/_sources/
docs/_autosummary/

# === Jupyter Notebook Checkpoints ===
.ipynb_checkpoints/

# === System Files ===
.DS_Store
Thumbs.db
