# === Python ===
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo
*.pyd
*.log

# === Virtual Environments ===
.venv/
env/
venv/

# === PyCharm IDE ===
.idea/

# === Sphinx Build Output ===
docs/build/

# === Jupyter Notebook Checkpoints ===
.ipynb_checkpoints/

# === System Files ===
.DS_Store
Thumbs.db
