# === Python ===
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo
*.pyd
*.log

# === Virtual Environments ===
.venv/
env/
venv/

# === IDE and Editor Settings ===
.idea/

# === Sphinx Build Output (local build folder only) ===
local_docs/

# === Jupyter Notebook Checkpoints ===
.ipynb_checkpoints/

# === System Files ===
.DS_Store
Thumbs.db
